body {
    font-family: 'Arial', sans-serif;
    background-image: url(yes.gif); /* Replace with the path to your universe background image */
    background-size: cover;
    background-position: center;
    color: #816db0;
}

.login-card {
    width: 100%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent to show the universe background */
    color: #ffffff;
    border-radius: 10px;
}

.card-body {
    color: #ffffff;
}

.btn-primary {
    background-color: #4e2a84; /* A deep purple, reminiscent of the universe's vastness */
    border: none;
}

.btn-primary:hover {
    background-color: #3e1f68;
}

a {
    color: #ccb7ff; /* A lighter purple for links, for a bit of contrast */
}

a:hover {
    color: #afa2ff;
    text-decoration: underline;
}
